{{ define "main" }}
<div class="content-area">
<main class="site-main" id="gh-main">

    <section class="error-content gh-canvas">
        <h1 class="error-code">404</h1>
        <p class="error-description">Page not found</p>
        <figure class="error-image">
            <img
                src="{{ "site-assets/404-cat.jpg" | relURL }}"
                alt="Silver tabby cat sitting in a cardboard box"
                width="1200"
                height="1800"
            >
            <figcaption>Photo by <a href="https://unsplash.com/@elli19">Elena Kloppenburg</a> / <a href="https://unsplash.com/photos/silver-tabby-cat-in-brown-cardboard-box-f4HJPGXUiQY">Unsplash</a></figcaption>
        </figure>
        <p><a class="gh-btn gh-primary-btn" href="{{ "/" | relLangURL }}">Go to the homepage</a></p>
    </section>

</main>
</div>
{{ end }}
